@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo',sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

// colors
$yellow : #fff200;
$white : rgb(255, 255, 255);
$beig : #fff;
$bronze : #ccc;
$grey : #333;
$black : #000;
$green : #00ff00;


// mixins
@mixin button() {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: $grey;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: $yellow;
        height: 100%;
        width: 0%;
        transition: .2s;
        z-index: -1;
    }

    &:hover::before{
        width: 100%;
    }

}

@mixin heading() {
    font-size: 4rem;
    color: $black;
    padding-top: 7rem;
    margin-bottom: 2rem;

    span{
        color: $yellow;
    }
}